---
import PageLayout from "../layouts/PageLayout.astro";
const GOOGLE_MAP_KEY = import.meta.env.PUBLIC_GOOGLE_MAP_API_KEY;
const zones = [
  {
    title: "Zona 1",
    description: "england"
  },
  {
    title: "Zona 2",
    description: "spain"
  }
]
---

<PageLayout title="PoliceSections.">
   <div slot="header">Seccionales Policiales</div>
   <div slot="map" id="map" class="flex-grow">
   </div>
    <div slot="options">
      <div class="flex text-1sm [&>i]:inline-block font:medium [&>i]:px-4 [&>i]:py-2 ">
        <i title="Importar"class="fa-solid fa-arrow-up-from-bracket rounded-full cursor-pointer transition-transform transform-gpu hover:scale-150"></i>
        <i title="Descargar" class="fa-solid fa-download rounded-full cursor-pointer transition-transform transform-gpu hover:scale-150"></i>
        <i title="Añadir" class="fa-solid fa-plus rounded-full cursor-pointer transition-transform transform-gpu hover:scale-150"></i>
        <i title="Eliminar" class="fa-solid fa-trash rounded-full cursor-pointer transition-transform transform-gpu hover:scale-150"></i>
      </div>
      </div>
 </div>
   <div slot="list" class="bg-grey- flex flex-col">
      
      <div class="flex flex-col">
         <ul>
            {
               zones.map((data) => <li  class="bg-green-300 m-1">{data.title}</li>)
            }
         </ul>

      </div>


   </div>
</PageLayout>
<script
   async
   defer
   src=`https://maps.googleapis.com/maps/api/js?key=${GOOGLE_MAP_KEY}&callback=initMap&libraries=&v=weekly&loading=async`

></script>
