---
import Layout from "@/layouts/Layout.astro";
import FooterCard from "@/components/FooterSlider/FooterCard";
import LandingHeader from "@/components/Landing/LandingHeader.astro";
---

<Layout title="Prueba" >
  <LandingHeader />
  <body class="bg-withe">
    <div class="flex justify-center pt-40">
      <div class="file-upload">
        <label for="fileInput" class="file-upload-label">Seleccionar archivo</label>
        <input type="file" id="fileInput" class="file-input" accept=".pdf,.doc,.docx">
        <span id="fileName" class="file-name">Ningún archivo seleccionado</span>
      </div>
    </div>
    <div id="panel1" class=" bg-white hidden w-screen h-[40vh] gap-4 absolute z-40">
      <div class="flex justify-around items-center mt-[4rem]">
          <div class="grid grid-cols-3 gap-4">
              <div class="flex justify-around items-center hover:bg-gray-200   h-[4rem] cursor-pointer w-[12rem]  rounded-lg border-2 border-black text-black" >
          <i class="fa-solid fa-seedling mx-3 "></i>
          <p class="text-sm">Rendimiento
            Hidrológico (RH)<p>
        </div>
              <div class="flex justify-around items-center  hover:bg-gray-200 h-[4rem] cursor-pointer w-[12rem]  rounded-lg border-2 border-black text-black" >
          <i class="fa-solid fa-seedling mx-3 "></i>
          <p class="text-sm">Rendimiento
            Hidrológico (RH)<p>
        </div>
              <div class="flex justify-around items-center  hover:bg-gray-200 h-[4rem] cursor-pointer w-[12rem]  rounded-lg border-2 border-black text-black" >
          <i class="fa-solid fa-seedling mx-3 "></i>
          <p class="text-sm">Rendimiento
            Hidrológico (RH)<p>
        </div>
              <div class="flex justify-around items-center hover:bg-gray-200  h-[4rem] cursor-pointer w-[12rem]  rounded-lg border-2 border-black text-black" >
          <i class="fa-solid fa-seedling mx-3 "></i>
          <p class="text-sm">Rendimiento
            Hidrológico (RH)<p>
        </div>
              <div class="flex justify-around items-center  hover:bg-gray-200 h-[4rem] cursor-pointer w-[12rem]  rounded-lg border-2 border-black text-black" >
          <i class="fa-solid fa-seedling mx-3 "></i>
          <p class="text-sm">Rendimiento
            Hidrológico (RH)<p>
        </div>

        <div class="flex justify-around items-center hover:bg-gray-200 cursor-pointer  h-[4rem]  w-[12rem]  rounded-lg border-2 border-black text-black" >
          <i class="fa-solid fa-droplet mx-3 "></i>
          <p class="text-sm">Rendimiento
            Hidrológico (RH)<p>
        </div>
          </div>
          <div class="text-black flex flex-col text-sm whitespace-pre-line border-gray-500  border-l-2 pl-8 w-1/4">
              lorem impsum lorem impsum lorem impsum lorem impsum lorem impsum
              lorem impsum lorem impsum lorem impsum
          </div>
      </div>
  </div>
  <body>
    <style>
      body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .file-upload {
      position: relative;
    }

    .file-upload-label {
      display: inline-block;
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      cursor: pointer;
    }

    .file-input {
      position: absolute;
      opacity: 0;
    }

    .file-name {
      display: block;
      margin-top: 10px;
    }
    </style>

</Layout>