---
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/Landing/LandingHeader.astro";
import LandingApp from "@/components/Landing/LandingApp.astro";
import LandingIndicators from "@/components/Landing/LandingIndicators.astro";
import LandingZones from "@/components/Landing/LandingZones.astro";
import LandingFooter from "@/components/Landing/LandingFooter.astro";
---

<Layout title="Pastizales ROU.">
	<header>
		<LandingHeader />
	</header>
	
	<main class="relative w-full overflow-auto">
		<!-- Secci贸n 1 -->
		<div class="snap-center min-h-screen flex items-center justify-center">
			<LandingApp />
		</div>
	
		<!-- Secci贸n 2 - Indicadores -->
		<div class="w-full min-h-screen flex items-center justify-center">
			<LandingIndicators />
		</div>
	
		<!-- Secci贸n 3 - Zonas -->
		<div class="w-full min-h-screen flex items-center justify-center">
			<LandingZones />
		</div>
	
		<!-- Secci贸n 4 - Footer -->
		<div class="w-full min-h-screen flex items-center justify-center">
			<LandingFooter />
		</div>
	</main>
</Layout>

