---
interface Props {
	title: string;
	description: string;
	href: string;
}

const { href, title, description } = Astro.props;
---

<section
class="flex-col bg-black h-screen w-screen text-center relative overflow-hidden">

<div class="z-30 relative h-full flex flex-col">
    <header>
        <h2 class="text-white pt-40 text-[40px] font-medium">
            {title}
        </h2>
        <p class="text-white text-sm py-2 whitespace-pre-line">
            {description}

        </p>
    </header>

        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div>
               <a href={href} class="text-white text-sm border-2 border-white rounded font-medium py-2 px-12 backdrop-blur-sm inline-block cursor-pointer transition-transform transform-gpu hover:scale-110"
               >Explorar</a>
            </div>
        </footer>

</div>

<div
    class="absolute top-0 botton-0 h-full z-10 inset-0 bg-black opacity-50 object-cover"
>
    <video autoplay loop muted src="/video.mp4"></video>
</div>
<!-- Para hacer que el video se vea mas oscuro -->
</section>