---
import { ScrollArea } from "@/components/ui/scroll-area";
import { Separator } from "@/components/ui/separator";
---

<ScrollArea className="h-72 w-48 rounded-md border">
      <div class="p-4">
        <h4 class="mb-4 text-sm font-medium leading-none">Tags</h4>
        <!-- {indicators.map((ind) => (
          <>
            <div  class="text-sm">
              {ind.label}
            </div>
            <Separator className="my-2" />
          </>
        ))} -->
      </div>
  </ScrollArea>
