---
---

<section class="bg-primary min-h-screen flex items-center justify-center">
    <div class="flex justify-around items-center mt-[4rem]">
        <div class="grid grid-cols-3 gap-4">
            <div class="flex items-center hover:bg-gray-200   h-[4rem] cursor-pointer w-[12rem] rounded-lg  border-black text-black" >
				<p class="text-sm"> Zonas definidas<p>
			</div>
            <div class="flex  items-center  hover:bg-gray-200 h-[4rem] cursor-pointer w-[12rem] rounded-lg  border-black text-black" >
				<p class="text-sm">Cuencas<p>
			</div>
			<div class="flex  items-center hover:bg-gray-200 cursor-pointer  h-[4rem]  w-[12rem]   rounded-lg border-black text-black" >
				<p class="text-sm"> Seccionles Policiales<p>
			</div>

            <div class="flex  items-center hover:bg-gray-200  h-[4rem] cursor-pointer w-[12rem] rounded-lg border-black text-black" >
				<p class="text-sm">Padrones<p>
			</div>
            <div class="flex  items-center  hover:bg-gray-200 h-[4rem] w-[15rem] cursor-pointer  rounded-lg  border-black text-black" >
				<p class="text-sm">Comunidades de Pastizales<p>
			</div>
		</div>
        <div class="text-black flex flex-col text-sm whitespace-pre-line border-gray-500  border-l pl-8 pb-4 w-1/4">
            lorem impsum lorem impsum lorem impsum lorem impsum lorem impsum
            lorem impsum lorem impsum lorem impsum
        </div>
    </div>
</section>