---
import "@/styles/globals.css";
import "@fontsource/roboto-serif";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<!-- <html lang="en" data-theme="light"> -->
<html lang="en" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body >
		<slot />
    <script type="text/javascript">
        function initMap() {
            const map = new google.maps.Map(document.getElementById("map"), {
              zoom: 7.4,
              center: { lat: -32.7045, lng: -56.1952 },
            });
        }
    </script>
	</body>
</html>

<script src="https://kit.fontawesome.com/87794a60ab.js" crossorigin="anonymous"></script>
<!-- <script>
	const currentTheme = localStorage.getItem("theme") ||
			(window.matchMedia("(prefers-color-scheme: light)").matches
				? "light"
				: "dark");
  document.documentElement.setAttribute("data-theme", currentTheme);
  localStorage.setItem("theme", currentTheme);
</script> -->
