---
import Logo1 from "@/components/Logo.astro";
import Layout from "@/layouts/Layout.astro";


import { BasinsGradeSelector } from "@/components/BasinsGradeSelector";
import Logo2 from "@/components/Logo2.astro";
---

<Layout title="Pastizales ROU">
  <div class="flex flex-col h-screen ">
    <header
      class="flex flex-row px-3  items-center w-full justify-between text-md bg-background"
    >
      <a
        href="/"
        class="rounded-full cursor-pointer transition-transform transform-gpu hover:scale-110"
      >
        <Logo2 />
      </a>

      <slot name="header" />
      <slot name="options" />
    </header>

    <main class="flex flex-row flex-grow ">
      <section
        class="bg-green-500 flex-grow flex flex-col fadeInUp fadeInUpSlow"
      >
        <slot name="map" />
      </section>

      <aside
        class="right-0 w-1/3 p-4 fadeInUp fadeInUpSlower bg-background border-2 border-shadow "
      >
        <slot name="search" />
        <slot name="list" />
      </aside>
    </main>
  </div>
</Layout>
